body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;

}


.img {
  max-width: 100%;
}


fieldset { border:0.75em solid 2f4f4f }

legend {
  padding: 0.2em 0.5em;
  border:0.75em solid 2f4f4f;
  color:000000;
  font-size:90%;
  text-align:right;
  }


form {
  border: 0.75em solid;
  color: 2f4f4f;
  padding: 1em;
}

form:focus-within {
  background: #ff8;
  color: A9A9A9;
}

input {
  margin: 1em;
}

