body {
font-family : "Times New Roman", Times, serif;
margin : 0;
}

.img {
max-width : 100%;
}

fieldset {
border : solid 0.75em;
}

legend {
padding : 0.2em 0.5em;
border : solid 0.75em;
font-size : 90%;
text-align : right;
}

input:focus {
  background: 778899;
  color: 000000;
